@charset "UTF-8";

  /* 모바일 기준 */        
  html {
    font-size: 18px;
}
body {
    margin: 0;
    text-align: center;
    word-break: break-all;
    overflow-wrap: break-word;
}
h1 {
    background-color: #3D84A8;
    color: #fff;
    font-size: 1.5rem;
    margin: 0;
    padding: 30px;
    transition: 0.4s;
}
h1 strong {
    display: block;
}
h2 {
    font-size: 1.4rem;
    background-color: #48466D;
    color: #fff;
    margin: 0; padding: 20px;
    transition: 0.4s;
}
.container {
    font-weight: bold;
    font-size: 1.1rem;
    display: grid;
    grid-auto-rows: 20dvh;
}
.container .box1 { background-color: #DEEDF0; }
.container .box2 { background-color: #F4C7AB; }
.container .box3 { background-color: #B2B8A3; }