@charset "UTF-8";

body{
  font-family: '나눔고딕', '맑은 고딕',돋움, sans-serif;
  width: 500px;
  margin: auto;
}

h1 {
  background-color: #809A6F;
  color: antiquewhite;
  border-bottom: 10px solid #FCFFB2;
  border-radius: 20px 20px 0px 0px;
  padding: 10px 0px;
  text-align: center;
  /* min-width: 400px; 최소 가로값이 400px은 유지*/
}

h2 {
  text-decoration: line-through;
  font-size: 22px;
  color: darkolivegreen;
  text-align: center;
}

ul{
  width: 300px;
  margin: 10px 50px 20px 10%;
}
.box {
  border: 1px solid #222;
  padding: 3px;
  margin: 2px;
  font-size: 16px;
  font-weight: bold;
}
.serch {
  text-align: center;
  background-color: #D5D8B5;
  margin: 1px;
  padding: 10px 0px;
}
.serch:hover {
  background-color: #CC9C75;
}
a {
  text-decoration-line: none;
  color: #9E6F21;
}
a:hover {
  color: antiquewhite;
}

.wrapper {
  width: 90%;
  min-width: 300px;
  margin: 50px auto;
}
.wrapper .site {
  background-color: #CC9C75;
  border-bottom: 1px solid #fff;
  height: 40px;
  line-height: 40px;
/* 
  "한 줄인 경우" 세로 중앙 정렬 방법
  height와 line-height의 값을 동일하게 적용
  폰트 사이즈의 크기가 큰 경우는 잘 안됨
*/
}