@charset "UTF-8";
body {
    background-color: #000;
}
.slide-wrapper {
    margin: 50px auto;
    background-color: #fff;
    width: 80vw; height: 80vw;
    position: relative;
    /* overflow: hidden; */
}

/* 좌우 버튼 */
.slide-wrapper .button-group {
    background-color: #ddd;
    display: flex;
    position: absolute;
    right: 0; bottom: 0;
}
.slide-wrapper .button-group .btn {
    cursor: pointer;
    padding: 10px;
    font-weight: bold;
    position: relative;
}
.slide-wrapper .button-group .btn:hover {
    line-height: 1.2;
}
.slide-wrapper .button-group .btn:first-child::after {
    content: "";
    position: absolute;
    background-color: #000;
    width: 1.4px; height: 20px;
    top: 50%; right: 0;
    transform: translateY(-50%);
}

/* 슬라이드 박스 */
.slide-wrapper .slide-item {
    background-color: #fff;
    width: 100%; height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0; left: 0;
}
.slide-wrapper .slide-item .slide-img {
    background: no-repeat 50% / cover;
    width: 60%;
    height: 100%;
    text-indent: -9999px;
    order: 2;

    transition: 0.6s cubic-bezier(.23,-0.02,.71,1.05);
}
.slide-wrapper .slide-box1 .slide-img { background-image: url(https://placehold.co/450x230/FCF8E8/ECB390?text=img1); }
.slide-wrapper .slide-box2 .slide-img { background-image: url(https://placehold.co/450x230/D4E2D4/FCF8E8?text=img2); }
.slide-wrapper .slide-box3 .slide-img { background-image: url(https://placehold.co/450x230/ECB390/D4E2D4?text=img3); }
.slide-wrapper .slide-box4 .slide-img { background-image: url(https://placehold.co/450x230/DF7861/FCF8E8?text=img4); }
.slide-wrapper .slide-item .text-box-wrapper {
    width: 40%;
    order: 1;
    padding: 30px;
}