@charset "UTF-8";

/* contents */
/* main-video */
.main-video {
    padding: 0;
    aspect-ratio: 16 / 9;
    position: relative;
    overflow: hidden;
    color: #fff;

    
    background:
    url(./assets/img/main_diag1.png) no-repeat 0 0,
    url(./assets/img/main_diag2.png) no-repeat 0 0,
    url(./assets/img/main_diag3.png) no-repeat 0 80%,
    url(./assets/img/main_diag4.png) no-repeat 0 100%,
    url(./assets/img/main_diag5.png) no-repeat 0 100%,
    url(./assets/img/main_diag6.png) no-repeat 100% 100%,
    url(./assets/img/main_diag7.png) no-repeat 100% 100%,
    url(./assets/img/main_bg_check.png)
}
.main-video .youtube {
    width: 100%;
    aspect-ratio: 16 / 9;
    z-index: -1;
    position: relative;
  }
  
  .main-video .main-video-text {
    position: absolute;
    top: 40%;
    left: 9vw;
    transform:  translateY(-50%);
    text-align: left;
    font-style: italic;
  }
  .main-video .main-video-text h2 {
    font-size: 4rem;
  }
  .main-video .main-video-text h2 span {
    font-size: 3.5rem;
    font-weight: 400;
    display: block;
    text-indent: 30px;
  }
  .main-video .main-video-text p {
    width: 50%;
    margin: 0 20px;
  }
  .main-video .main-widget {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
  }
  .main-video .main-widget li {
    width: 100px;
    height: 100px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 50%;
    margin: 16px 0;
  }
  .main-video .main-widget li:hover {
    background-image: linear-gradient(45deg, rgba(241, 141, 0,0.9), rgba(255, 186, 127,0.8)) ;
  }
  .main-video .main-widget li a {
    display: block;
    background: no-repeat 50% 30%;
    padding-top: 50px;
    line-height: 1.1;
  }
  .main-video .main-widget li:first-child a { background-image: url(./assets/img/main_reserve_icon1_2108.png);}
  .main-video .main-widget li:last-child a { background-image: url(./assets/img/main_reserve_icon2_2108.png);}
  
  /* At a Glance */
  .glance .glance-list {/* flex-container */
    justify-content: center;
    max-width: 1600px;
    margin: 70px auto 0;
    /* background-color: orange; */
  }
  .glance .glance-list li {/* flex-item */
    border-right: 1px solid #ddd;
    width: 25%;
    padding: 14px 0 50px;
  }
  .glance .glance-list li:last-child {
    border-right: none;
  }
  .glance .glance-list li h3 {
    margin: 26px 0;
    font-family: "Play", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  .glance .glance-list li h3::after {
    content: "";
    display: block;
    width: 25px; height: 1px;
    background-color: #000;
    margin: 0 auto;
  }
  .glance .glance-list li h3 strong {
    font-weight: 700;
    font-size: 3.8rem;
  }
  .glance .glance-list li h4 {
    color: #022974;
    font-size: 1.3rem;
    font-weight: 500;
  }
  
  /* Business Area */
  .business .business-wrapper {
    overflow: hidden;
    position: relative;
  }
  .business .business-wrapper .business-text-box { 
    background-color: #eee;
    width: 50%;
    position: relative;
    z-index: -1;
  }
  .business .business-wrapper .business-text-box::after {
    content: "";
    background-color: #eee;
    position: absolute;
    width: 70px;
    height: 100%;
    top:0; left: 100%;
  }
  .business .business-wrapper .business-text-box .business-menu {
    justify-content: center;
    /* margin: 54px 0; */
    padding: 48px 0 40px;
  }
  .business .business-wrapper .business-text-box .business-menu a {
    margin: 10px;
    display: block;
    font-weight: 600;
    position: relative;
  }
  .business .business-wrapper .business-text-box .business-menu a.active {
    color: #f18d00;
  }
  .business .business-wrapper .business-text-box .business-menu a.active::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #f18d00;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -10px;
  }
  .business .business-wrapper .business-text-box h3 {
    font-size: 2rem;
  }
  .business .business-wrapper .business-text-box p {
    color:#666;
    width: 60%;
    margin: 20px auto;
  }
  .business .business-wrapper .business-img-list {
    justify-content: center;
  }
  .business .business-wrapper .business-img-list li {
    margin: 1vw 0.5vw 5vw;
  }
  .business .business-wrapper .business-slide {
    width: 50%;
    margin-top: 100px;
  }
  .business .business-wrapper .business-slide img {
    aspect-ratio: 3 / 2;
    object-fit: cover;
  }
  .business .business-wrapper .more-btn {
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
  }
  
  /* location */
  .location {
    /* background: url(./assets/img/bg_worldmap.png) no-repeat 50%; */
  }
  .location .location-list {
    justify-content: center;
  }
  .location .location-list a {
    display: block;
    font-weight: 700;
    font-family: "Play", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 30px 16px;
  }
  .location .location-list a.active {
    color: #f18d00;
  }
  .location .location-kakao{
    background: url(./assets/img/bg_worldmap.png) no-repeat 50% 30%/ cover;
    width: 90vw; margin: 20px auto;
    background-color: #ddd;
    aspect-ratio: 3 / 1;
    padding: 20px 0;
  }
  .location .location-kakao #map {
    width: 96%;
    margin: 20px auto;
    aspect-ratio: 3 / 1;
    border: 1px solid #000;
    border-radius: 30px;
  }
  .location .more-btn {
    left: 50%;
    transform: translateX(-50%);
  }
  
  /* Contact Us */
  .contact .contact-wrapper {
    justify-content: center;
    align-items: flex-start;
    margin: 70px auto 0;
    max-width: 1600px;
    gap: 4%;
  }
  .contact .contact-wrapper .press {
    color: #fff;
    transition: 0.3s;
    width: 37.5%;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.8)), url(./assets/img/kakaotalk_20240404_111543987_02.jpg) no-repeat 50% / cover ;
  }
  .contact .contact-wrapper .press:hover {
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.4)), url(./assets/img/kakaotalk_20240404_111543987_02.jpg) no-repeat 50% / cover;
  }
  .contact .contact-wrapper .press h3 {
    background-color: #f18d00;
    color: #fff;
    font-size: 18px;
    padding: 10px;
    width: 140px;
  }
  .contact .contact-wrapper .press h4 {
    margin: 30px ;
    font-size: 2rem;
    /* 한 줄 말줄임 
    width: 400px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    */

    /* 여러 줄 말줄임 */
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;/* 여러 줄일 때 텍스트를 자르는 줄 */
    -webkit-box-orient: vertical;/* 박스 진행 방향 */
    overflow: hidden;
    
  }
  .contact .contact-wrapper .press .ghost-btn {
    border: 2px solid #fff;
    padding: 10px 30px;
    display: inline-block;
    margin: 30px 0 80px;
  }
  
  .contact .contact-wrapper .notice {
    width: 37.5%;
    text-align: left;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 17px 0;
  }
  .contact .contact-wrapper .notice h3 {
    font-weight: 700;
    font-family: "Play", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
    text-transform: capitalize;
  }
  .contact .contact-wrapper .notice .ghost-btn {
    border: 1px solid #000;
    padding: 10px 30px;
    transition: 0.3s;
  }
  .contact .contact-wrapper .notice .ghost-btn:hover {
    border-radius: 30px;
  }
  .contact .contact-wrapper .notice .notice-list {
    width: 100%;
    margin: 20px 0;
    list-style: inside emojiK;
    color: #999;
  }
  /* 기본 리스트 스타일 외 스타일 설정 */
  @counter-style emojiK {
    system: cyclic; /* 같은 값 반복 */
    symbols: "✨";
    suffix: " ";/* 머리말 기호 다음 처리 방식 */
  }
  .contact .contact-wrapper .notice .notice-list li {
    border-bottom: 1px solid #ddd;
    padding: 14px 6px;
    font-size: 14px;
  }
  .contact .contact-wrapper .notice .notice-list li a {
    overflow: hidden;
    width: 60%;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
  }
  .contact .contact-wrapper .notice .notice-list li a::before {
    content: " - ";
  }
  .contact .contact-wrapper .notice .notice-list li a:hover {
    text-decoration: underline;
  }
  .contact .contact-wrapper .notice .notice-list li .notice-date {
    /* float: right;요소의 진행 방향 설정. left, right 두 값만 존재. 최근엔 잘 사용하지 않음 */
  }
  .contact .contact-wrapper .recruit {
    width: 20%;
    background: url(./assets/img/bg_main_recruit.png) no-repeat 50% / cover;
    align-self: stretch;
    position: relative;
  }
  .contact .contact-wrapper .recruit h3 {
    color: #f18d00;
    font-size: 2rem;
    text-transform: capitalize;
    text-align: left;
    padding: 20px 30px 10px;
  }
  .contact .contact-wrapper .recruit p {
    text-align: left;
    font-size: 1.1rem;
    padding: 0 30px;
  }
  .contact .contact-wrapper .recruit .more-btn {
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
  }