@charset "UTF-8";

/* contents */
/* main-video */
.main-video {
    aspect-ratio: 16 / 9;
    position: relative;
    overflow: hidden;
    color: #fff;

    
    background:
    url(./assets/img/main_diag1.png) no-repeat 0 0,
    url(./assets/img/main_diag2.png) no-repeat 0 0,
    url(./assets/img/main_diag3.png) no-repeat 0 80%,
    url(./assets/img/main_diag4.png) no-repeat 0 100%,
    url(./assets/img/main_diag5.png) no-repeat 0 100%,
    url(./assets/img/main_diag6.png) no-repeat 100% 100%,
    url(./assets/img/main_diag7.png) no-repeat 100% 100%,
    url(./assets/img/main_bg_check.png)
}
.main-video .youtube {
    width: 100%;
    aspect-ratio: 16 / 9;

    z-index: -1;
    position: relative;
}
.main-video .main-video-text {
    position: absolute;
    top: 40%;
    left: 9vw;
    transform: translateY(-50%);
    text-align: left;
    font-style: italic;

}
.main-video .main-video-text h2 {
    font-size: 4rem;
}
.main-video .main-video-text h2 span {
    font-size: 3.5rem;
    font-weight: bold;
    display: block;
    text-indent: 30px;
}
.main-video .main-video-text p {
    width: 50%;
    margin: 0 20px;
}
.main-video .main-widget {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
}
.main-video .main-widget li {
    width: 100px; height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    margin: 16px 0;
}
.main-video .main-widget li:hover {
    background-image: linear-gradient(45deg, rgba(241, 141, 0, 0.9), rgba(255, 186, 127, 0.8));
}
.main-video .main-widget li  a {
    display: block;
    padding-top: 40px;
}
.main-video .main-widget li:first-child a {
    background: url(./assets/img/main_reserve_icon1_2108.png) no-repeat 50% 20%;
}
.main-video .main-widget li:last-child a {
    background: url(./assets/img/main_reserve_icon2_2108.png) no-repeat 50% 20%;
}
/* At a Glance */
/* Business Area */
/* location */
/* Contact Us */